body {
  background-color: #00a7db;
  color: rgb(223, 218, 218);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: rgb(223, 218, 218);
  border-style: none;
}
button:hover{
  background-color: aqua;
  color:#337ab7
}
input {
  height: 24px;
}
